{#
/**
 * @file
 * Base Teaser
 */
#}

{# Teaser Markup #}
{# ============= #}

<article{{ attributes.addClass('teaser') }}>

  {# == Media == #}
  {# =========== #}
  {% block media_block %}
    <div class="teaser__media">
      <div class="position-relative">
        {% if themag.teaser.media_contained.html and themag.teaser.show_media_contained_icons %}
          {% block media_icons %}
            <div class="teaser__media-icons">
              {{ themag.teaser.media_contained.html|raw }}
            </div>
          {% endblock %}
        {% endif %}
          {% if node.field_teaser_media.value %}
          {% block teaser_image %}
          <div class="image teaser__image">
                  <a href="{{ url }}">
                      {{ content.field_teaser_media }}
                  </a>
              </div>
          {% endblock %}
          {% else %}
              <div class="image teaser__image">
                  <a href="{{ url }}">
                      {{ content.field_news_image }}
                  </a>
              </div>
          {% endif %}
     </div>
    </div>
  {% endblock %}



  {% block teaser_content_block %}
    <div{{ content_attributes.addClass('teaser__content') }}>
      {% block teaser_content %}


          {# == Title & Channel == #}
          {# ===================== #}
          {% block teaser_header_block %}
              <header>
                  {% block teaser_authored_block %}
                      {% if content.field_news_type %}
                          <div class="teaser__authored">
                              <span class="date">{{ date }} | {{ content.field_news_type[0] }} {{ content.field_article_article[0] }}</span>
                          </div>
                      {% endif %}
                  {% endblock %}
                  {% block teaser_headline %}
                      {{ title_prefix }}
                      <h2 class="teaser__headline">
                          <a href="{{ url }}">{{ label }}</a>
                      </h2>
                      {{ title_suffix }}
                  {% endblock %}
              </header>
          {% endblock %}

          {# == Authored info == #}
          {# ===================
          {% block teaser_authored_block %}
              {% if themag.teaser.show_post_date or show_author_name %}
                  {% block authored_info %}
                      <footer class="teaser__authored">
                          {% if themag.teaser.show_post_date %}
                              {% block authored_date %}
                                  <span class="date">{{ date }} | {{ content.field_news_type[0] }}</span>
                              {% endblock %}
                          {% endif %}
                       </footer>
                  {% endblock %}
              {% endif %}
          {% endblock %}#}


        {# == Teaser text == #}
        {# ================= #}

     {% if node.field_teaser_text.value %}
        {% block teaser_text %}
          <div class="teaser__body">
            {{ content|without('field_teaser_media', 'field_news_type', 'field_news_image', 'field_channel' ) }}
          </div>
        {% endblock %}
     {% else %}
         <div class="teaser__body">
             {{ node.body.summary }}
         </div>
     {% endif %}
      {% endblock %}
    </div>
  {% endblock %}

</article>
