{#
/**
 * @file
 * Base Teaser
 */
#}

{# Teaser Markup #}
{# ============= #}
<article{{ attributes.addClass('teaser') }}>

  {# == Media == #}
  {# =========== #}
  {% block media_block %}
    <div class="teaser__media">
      <div class="position-relative">
        {% if themag.teaser.media_contained.html and themag.teaser.show_media_contained_icons %}
          {% block media_icons %}
            <div class="teaser__media-icons">
              {{ themag.teaser.media_contained.html|raw }}
            </div>
          {% endblock %}
        {% endif %}
        {% block teaser_image %}
          <div class="image teaser__image">
            <a href="{{ url }}">
              {{ content.field_teaser_media }}
            </a>
          </div>
          {% if content.field_channel.0 %}
            <div class="sponsored__channel">
              {{ content.field_channel }}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}

  {% block teaser_content_block %}
    <div{{ content_attributes.addClass('teaser__content') }}>
      {% block teaser_content %}
        {# == Authored info == #}
        {# =================== #}
        {% block teaser_authored_block %}
          {% if themag.teaser.show_post_date or show_author_name %}
            {% block authored_info %}
              <footer class="teaser__authored">
                {% if themag.teaser.show_post_date %}
                  {% block authored_date %}
                    <span class="date">{{ date }} | {{ content.field_news_type[0] }} {{ content.field_article_article[0] }}</span>
                  {% endblock %}
                {% endif %}

              </footer>
            {% endblock %}
          {% endif %}
        {% endblock %}

        {# == Title & Channel == #}
        {# ===================== #}
        {% block teaser_header_block %}
          <header>
            {% block teaser_headline %}
              {{ title_prefix }}
              <h2 class="teaser__headline">
                <a href="{{ url }}">{{ label }}</a>
              </h2>
              {{ title_suffix }}
            {% endblock %}
          </header>
        {% endblock %}


        {# == Teaser text == #}
        {# ================= #}
        {% block teaser_text %}
          <div class="teaser__body">
            {{ content|without('field_teaser_media', 'field_channel', 'field_channel ') }}
          </div>
        {% endblock %}
      {% endblock %}
    </div>
  {% endblock %}
</article>
