{% extends "@themag/block/block--system-branding-block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}


{# Remove the comment below if you do a custom implementation #}

{#
  {% block content %}
    {% if site_logo %}
      <a href="{{ path('<front>') }}" rel="home" class="site-logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        <img src="{{ base_path ~ directory }}/logo-dark.svg" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}
  {% endblock %}
#}

{% block content %}
  {% if site_logo %}
    <table>
      <tr>
        <td><a href="{{ path('<front>') }}" rel="home" class="site-logo">
            {# Light mode logo #}
            <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo-light" width="210px" height="70px" />
            {# Dark mode logo #}
{#            <img src="{{ base_path ~ directory }}/logo-dark.svg" alt="{{ 'Home'|t }}" class="logo-dark" width="210px" height="70px" />#}
          </a></td>
        <td class="site-slogan"><p>{{ site_slogan }}</p></td>
      </tr>
    </table>
  {% endif %}
{% endblock %}
